@import url('card.css');
@import url('nav.css');
@import url('footer.css');
@import url('about.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --mainColor: #E6E6FA;
    --secoundaryColor: #2C3E50;
    --diffrentColor: #B5E61D;
    --typoColor: #ffffff;
}
body{
    overflow-x: hidden;
    background-color: white;
}
@media screen and (max-width: 800px){
    body{
        padding-top: 10px;
    }
}
/* header */
header{
    background: var(--mainColor);
    width: 100dvw;
    display: flex;
    justify-content: space-between;
}

.bottom-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-img{
    position: relative;
    height: 40dvw;   
}
.bottom-header>h1{
    position: relative;
    bottom: 0.5em;
    left: 0.5em;
    width: 50dvw;
    font-size: clamp(1em, 6dvw, 5em);
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right bottom, var(--secoundaryColor) 30%, var(--diffrentColor));
}



/* main  */
.main-home{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3em;
    width: 90dvw;
    height: 80dvh;
    margin: auto;
}
.main-home>.right-main{
    width: clamp(15em, 50dvw, 25em);
}
.main-home>.right-main>.text>h2{
    font-size: 2rem;
}
.aboutus-btn{
    border: none;
    background-color: var(--secoundaryColor);
    color: var(--typoColor);
    border-radius: 5px;
    margin-top: 1em;
    padding: 0.4em 1.6em;
    font-weight: bold;
    font-size: 1rem;
    transition: background-color 0.7s ease-in-out;
    cursor: pointer;
}
.aboutus-btn:hover{
    background-color: var(--diffrentColor);
    color: var(--secoundaryColor);
}
.main-home>.left-main{
    width: clamp(20em, 50dvw, 25em);
}
@media screen and (max-width: 800px){
    .main-home{
        flex-direction: column;
    }
}

/* popular courses  */
.popular-courses{
    width: 80dvw;
    margin: auto;
}
.popular-courses>h2{
    text-align: center;
    margin: 1em 0;
    font-size: 2rem;
    background-image: linear-gradient(to right bottom, var(--secoundaryColor) 30%, var(--diffrentColor));
    background-clip: text;
    color: transparent;
}

/* category cards */
.courses-categories{
    width: 80dvw;
    margin: 5em auto;
    text-align: center;

}
.category-cards{
    display: flex;
    justify-content: space-around;
    gap: 2em;
    padding: 1em 0;
    overflow-y: auto;
    scrollbar-width: none;
}
.category-card{
    flex: 0 0 clamp(5em, 50dvw, 11em);
    padding: 1em;
    border-radius: 10px;
    text-align: center;
    width: 50em;
    border: 1px solid var(--secoundaryColor);
    transition: 0.8s ease-in-out;
}
.category-card:hover{
    box-shadow: 0 0 10px var(--secoundaryColor);
    transform: translate(0, -5px);
}
.category-card>h4{
    margin: 1em 0;
}
.category-card>button{
    border: none;
    background-color: var(--secoundaryColor);
    color: var(--typoColor);
    border-radius: 5px;
    margin-top: 2em;
    padding: 0.4em 1.6em;
    font-weight: bold;
    font-size: 1rem;
    transition: 0.7s ease-in-out;
    cursor: pointer;
}

.courses-categories>button{
    border: 1px solid var(--secoundaryColor);
    background-color: transparent;
    margin: 1em;
    padding: 0.4em 1.6em;
    font-weight: bold;
    font-size: 1rem;
    transition: background-color 0.7s ease-in-out;
    cursor: pointer;
}
.courses-categories>button:hover{
    background-color: var(--secoundaryColor);
    color: var(--typoColor);
}


/* start loading  */
.cover{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #2C3E50;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
  perspective: 120px;
}
.plane {
  width: 2em;
  height: 2em;
  background-color: var(--diffrentColor);
  transform: rotate(0);
  animation: flip 1s infinite;
}
@keyframes flip {
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

/* courses page  */
.courses-page{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: minmax(100px, auto);
    gap: 2em;
    width: 80dvw;
    margin: 2em auto;
}
#filter-alt, #arrow-back{
    display: none;
}
.courses-page>aside{
    background-color: var(--secoundaryColor);
    color: var(--mainColor);
    height: fit-content;
    padding: 2em;
}
.courses-page>aside>h2{
    color: var(--diffrentColor);
    margin-bottom: 1em;
}
.courses-page>aside>.level ul{
    list-style: none;
}
.courses-page>aside>.level>ul>li{
    position: relative;
    color: var(--secoundaryColor);
    background-color: var(--mainColor);
    font-weight: bold;
    padding: 1em 2em;
    margin: 1em 0;
    cursor: pointer;
}
.active-filter::after{
    content: '';
    background-color: var(--diffrentColor);
    position: absolute;
    right: 0;
    top: 0;
    width: 1em;
    height: 100%;
}
.main-courses>.cards{
    margin: 0;
    padding: 0;
    gap: 1em;
}

@media screen and (max-width: 800px){
    .courses-page{
        grid-template-columns: 1fr;
    }
    .courses-page aside{
        transform: translate(-100%, 0);
        position: absolute;
        left: 0;
        transition: 0.5s ease-in-out;
        z-index: 2;
    }
    .courses-page .show-aside{
        transform: translate(0, 0);
    }
    #filter-alt{
        display: block;
        color: var(--secoundaryColor);
        position: absolute;
        top: 3.5em;
        left: 0;
        width: 1.5em;
        height: 1.5em;
        cursor: pointer;
    }
    #arrow-back{
        display: block;
        position: absolute;
        top: 0.3em;
        right: 0;
        width: 1.5em;
        height: 1.5em;
        cursor: pointer;
    }
}

/* course details page */
.course-details-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80dvw;
    margin: auto;
    padding: 1em 0;
}
.course-details-main>.content{
    width: clamp(15em, 50dvw, 20em);
}
.course-details-main>.content>h1{
    font-size: 1.8rem;
}
.course-details-main>.content>p{
    margin-top: 1em;
}
.course-details-main>.content>.parts{
    margin: 1em 0;
}
.course-details-main>.content>.parts>ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.course-details-main>.content>.parts>ul>li{
    display: flex;
    align-items: center;
    margin: 0.5em 0;
    width: 50%;
}
.course-details-main>.course-card{
    border-radius: 0.5em;
    width: clamp(15em, 50dvw, 20em);
    padding: 0.5em;
    border: 1px solid var(--secoundaryColor);
}
.course-details-main>.course-card img{
    border-radius: 1em;
}
.course-details-main>.course-card .price{
    font-size: 1.5rem;
    font-weight: bolder;
}
.course-details-main>.course-card button{
    border: none;
    background-color: var(--secoundaryColor);
    color: var(--typoColor);
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 0.4em 1.5em;
    border-radius: 5px;
    cursor: pointer;
}
.recommendation-cards{
    text-align: center;
    margin: 3em 0;
}

@media screen and (max-width: 800px){
    .course-details-main{
        flex-direction: column;
        text-align: center;
    }    
    .recommendation-cards{
        padding: 1em;
    }
}